.titulo {
   
    font-size: 78.65px; 
    font-weight: 600; 
    margin: 0;
    padding: 0;
    position: absolute;
   
    
}

.subTitulo {
    
    font-size: 20.285px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    position: absolute;

}