.logo {
    font-size: 34.375px;
    margin: 0;
    position: absolute;

     
}

.comercial {
    color: #FFB9AF;
}

.menu{
    display: flex;
    justify-content: space-between                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 570px; 
   

} 

.itemMenu {
    font-family: Montserrat;
    font-size: 24.527px;
    font-weight: 500;
    margin: 0;
    
}

.contato {
    font-size: 19.205px;
    font-weight: 500;
    position: absolute;
    margin: 0;
    padding: 0;

    width: 169px;
    height: 23.045px;
}

.iconePhone {
    margin: 0;
    padding: 0;
    position: absolute;

    width: 19px;
    height: 19px;
    flex-shrink: 0;
}

.redesSociais {
    align-items: center;
    display: flex;
    gap: 38px;
    position: absolute;
}


